{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Here</title>
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'style3.css' %}">
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <script src="{% static 'state.js' %}"></script>
</head>
<body>
  <h2 id="usertype" style="text-align: center;margin-top: 30px;"></h2>
  {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
    <form action="/register/{{ type }}/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="dabba" id="lgnbox">
            <input class="name" type="text" name="f_name" placeholder="First Name">
            <input class="name" type="text" name="l_name" placeholder="Last Name">
            <input class="user_name" type="text" name="u_name" placeholder="Username">
            <input class="Email" type="email" name="mmail" placeholder="Email">
            <div id="upload-container">
                <div id="upload-border">
                  <nobr>
                    <input type="text" id="upload-name" placeholder="Profile photo" disabled="true" />
                    <button id="upload-button" type="button">Select photo</button>
                  </nobr>
                </div>
                <input type="file" id="hidden-upload" name="imgle" style="display:none"/> 
              </div>
              <input class="pass" type="text" name="address" placeholder="Address">
              <input class="pass" type="number" name="pincode" placeholder="Pincode">
              <select onchange="print_city('state', this.selectedIndex);" id="sts" name="state" class="form-control" required></select>
            <select id="state" class="form-control" name="city" required></select>
            <script language="javascript">
              print_state("sts");
            </script>
            <input class="pass" type="password" name="pass" placeholder="Password">
            <input class="pass" type="password" name="pass1" placeholder="Password again">
            <button type="submit">Register</button>
            <button type="button" onclick="activelgn()">Login</button>  
        </div>
    </form>

    <form action="/login/{{ type }}/" method="POST">
        {% csrf_token %}
        <div class="sgn" id="sgnbox">
            <input class="user_name" type="text" name="ul_name" placeholder="Username">
            <input class="pass" type="password" name="lpass" placeholder="Password">
            <button type="submit">Login</button>
            <button type="button" onclick="activesgn()">Register</button>
        </div>
    </form>
     
</body>
<script> 
  document.getElementById('sgnbox').style.display="none";
  const type='{{ type }}'
  const lgnn='{{ hks }}'
  if(lgnn=='0'){
    document.getElementById('usertype').innerHTML=type+'Signup'
  }
  else if(lgnn=='1'){ 
    document.getElementById('lgnbox').style.display="none";
    document.getElementById('sgnbox').style.display="";
    document.getElementById('usertype').innerHTML=type+'Login' 
  }
  document.querySelector("#upload-button").addEventListener("click", () => {
  //clicks on the file input
  document.querySelector("#hidden-upload").click();
});

//adds event listener on the hidden file input to listen for any changes
document.querySelector("#hidden-upload").addEventListener("change", (event) => {
  //gets the file name
  document.querySelector("#upload-name").value = event.target.files[0].name;
});
    
    function activelgn(){
        document.getElementById('lgnbox').style.display="none";
        document.getElementById('sgnbox').style.display="";
        document.getElementById('usertype').innerHTML=type+'Login'
    }
    function activesgn(){
        document.getElementById('sgnbox').style.display="none";
        document.getElementById('lgnbox').style.display="";
        document.getElementById('usertype').innerHTML=type+'Signup'
    }
</script>
</html>